* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: beige;
	min-height: 100vh;
}
header {
	border: solid 0px red;
}
#logo {
	border: 0px solid red;
	height: 50px;
	width: auto;
	margin-right: 50px;
	cursor: pointer;
}
.BarraNavegar {
	display: flex;
	background-color: #272726;
	padding: 10px;
	font-family: calibri;
	font-size: 20px;
	color: white;
	align-items: center;
	border: solid 0px yellow;
}
#titulo {
	border: 0px solid red;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}
#cabecera {
	display: flex;
	align-items: end;
	justify-content: center;
	margin-left: 0;
	border: solid 0px yellow;
}
.Grupo_opciones {
	display: flex;
	align-items: end;
	margin-left: auto;
	margin-right: 70px;
	gap: 25px;
	border: solid 0px orange;
}
.Grupo_opciones_derecha {
	margin-left: auto;
	border: solid 0px red;
}
.Opcion_menu_icono {
	display: none;
}
.contenedor {
	display: flex;
	border: solid 0px blue;
	flex: 1;
	justify-content: center;
}
.contenedor2 {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	margin: 15px;
	border: solid 0px red;
	border-radius: 8px;
}
.contenedor3 {
	display: flex;
	border: solid 0px black;
	justify-content: center;
	align-items: center;
}
.contenedor4 {
	border: solid 0px green;
	align-self: flex-start;
	font-family: sans-serif;
	padding: 10px;
	width: 100%;
}
.BarraNavegar2 {
	display: flex;
	flex-direction: column;
	background-color: #272726;
	padding: 10px;
	align-items: center;
}
#logo2 {
	height: 30px;
	width: auto;
}
#cabecera2 {
	display: flex;
	border: solid 0px yellow;
	gap: 20px;
	align-items: center;
}
#estrella {
	height: 20px;
	width: 20px;
	visibility: hidden;
}
#listado {
	background-color: #bb3e3e;
}
#listado:hover {
	color: white;
	cursor: default;
}
.label {
	cursor: pointer;
	border-radius: 5px;
	padding: 8px;
}
.label:hover {
	background-color: #E8E6DB;
	color: black;
}
.label2 {
	cursor: pointer;
}
.L1 {
	font-size: 22px;
	font-family: Calibri;
	color: white;
	padding-left: 10px;
	padding-right: 0px;
}
.L2 {
	font-size: 22px;
	font-family: Calibri;
	color: aqua;
	margin-left: 10px;
	margin-right: 20px;
}
@media (max-width: 1000px) {
	.L2 {
		color: Pink;
	}
	.BarraNavegar {
		flex-direction: column;
		align-items: center;
	}
	.Grupo_opciones {
		margin-top: 15px;
		margin-left: 0;
		margin-right: 0;
	}
	.Grupo_opciones_derecha {
		margin: auto;
		margin-top: 8px;
	}
	#cabecera {
		display: flex;
		margin-left: 0;
		margin-top: 5px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 768px) {
	.contenedor2 {
		margin: 0px;
	}
	.Grupo_opciones,
	.Grupo_opciones_derecha,
	.BarraNavegar {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.Grupo_opciones {
		display: none;
	}
	.Grupo_opciones_derecha {
		margin-left: 0;
	}
	.Opcion_menu_icono {
		display: initial;
		align-self: flex-end;
		position: absolute;
		margin-top: 14px;
		cursor: pointer;
	}
	.Navbar_ToggleShow {
		display: block;
	}
	.L2 {
		color: yellow;
	}
	.label {
		display: block;
		width: 100%;
		text-align: center;
		border: solid 1px white;
	}
	.label:hover {
		background-color: #E8E6DB;
	}
	.label2 {
		display: block;
		width: 100%;
		text-align: center;
		border: solid 1px white;
		background-color: MediumVioletRed;
	}
	#cabecera {
		flex-direction: column;
		align-items: center;
	}
	.Grupo_opciones {
		margin-left: 0;
		margin-right: 0;
	}
	#cabecera {
		display: flex;
		margin-top: 5px;
		margin-bottom: 10px;
	}
}